* {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: rgb(245, 247, 250);
    padding: 20px 30px;
}
.content {
    width: 100%;
    max-width: 456px;
    height: 100%;
    max-height: 80vh;
    overflow-y: scroll;
    box-shadow: rgb(233, 233, 233) 0px 0px 10px;
    margin: auto;
    padding: 20px 10px;
    background: white;
    border-radius: 5px;
    transition: 0.33s;
}
.toggle-wrapper {
    width: 200px;
    font-family: sans-serif;
}
.toggle-input {
    display: none;
}
.toggle-label {
    display: flex;
    position: relative;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
    height: 45px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50px;
    overflow: hidden;
}
.toggle-option {
    width: 50%;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 1;
}
.toggle-switch {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(50% - 4px);
    height: 41px;
    background-color: rgb(42, 142, 247);
    z-index: 0;
    border-radius: 18px;
    transition: left 0.3s;
}
.toggle-label {
    display: flex;
    position: relative;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
    height: 45px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50px;
    overflow: hidden;
}
h2 {
    margin-bottom: 15px;
    text-align: center;
}
.contentbox label {
    width: 100%;
    font-weight: 600;
    margin-bottom: 6px;
    display: flex;
    font-size: 0.95rem;
    padding-right: 12px;
    border-radius: 6px;
    border-width: 1.8px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    background: white;
    overflow: hidden;
}
.contentbox label span {
    flex: 1 1 auto;
    border-right: 1px solid rgb(204, 204, 204);
    padding: 8px 0px 8px 12px;
    background: rgb(245, 247, 250);
}
.contentbox input[type="number"], .contentbox select {
    width: 100%;
    font-size: 1rem;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    transition: border-color 0.25s;
}
.contentbox label select, .contentbox label input {
    width: 120px;
    flex-basis: 120px;
    text-align: center;
    background-color: white;
    padding: 8px 0px;
}
button {
    width: 100%;
    background-color: rgb(42, 142, 247);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s;
}
#result-container, #ht_result-container {
    width: 100%;
}
#resultat, #ht_resultat {
    font-size: 0.95rem;
    max-width: 400px;
    width: 100%;
    margin: 20px auto auto;
    white-space: pre-line;
    border-radius: 10px;
}
#resultat *, #ht_resultat * {
    font-size: 0.95rem;
}
#resultat ol, #ht_resultat ol {
    list-style: none;
}
#resultat ol li, #ht_resultat ol li {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
#resultat ol li:nth-child(2n+1), #ht_resultat ol li:nth-child(2n+1) {
    background: rgb(233, 233, 233);
}
#extra-reference {
    width: 100%;
}
#ref-input-zone {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 8px;
}
#error-message, #ref_error, #ht_ref_error {
    color: rgb(217, 48, 37);
    font-weight: 700;
    font-size: 0.9rem;
    margin-top: 6px;
}
#reload-widget {
    width: 35px;
    height: 35px;
    position: fixed;
    top: 20px;
    right: 30px;
    background-color: white;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
    cursor: pointer;
    z-index: 999;
    line-height: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(34, 34, 34);
    border-image: initial;
    border-radius: 50%;
    padding: 0px;
    transition: background-color 0.2s;
    overflow: hidden;
}
#reload-widget span {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
